/*Step1*/
body
{
	background-color: lightgreen;
}
.main-container
{   
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.image-container
{
    background-color: violet;
    /*clear: both;*/
    position: relative;
}


.button-container
{
	border: 5px solid blue;
	background-color: rgb(0, 174, 255);
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	top: 0px;
	float: none;
}


.image-css
{
    border-radius: 50px;
	width: 200px;
	height: 180px;
}

.button-css
{
	display: inline-block;
	text-align: center;
	font-size: 18px;
	padding: 15px 32px;
	margin: 14px 12px;
	border-radius: 5px;
	background-color: lightsalmon;
}

/*Fine step1*/



/*Inizio, da aggiungere per step2*/

#slider-image-1:target ~ .image-container
{
   background-color: lightcoral;
}

#slider-image-2:target ~ .image-container
{
   background-color: greenyellow;
}

#slider-image-3:target ~ .image-container
{
   background-color: maroon;
}


/*Fine step2*/





